Repository minos-framework/minos-templates, pull requests merged in 2022-01, with the labels that each got.

#5 #4 - Refactor linking strategy
  microservice/init/copier.yml
  microservice/language/python/init/copier.yml
  project/apigateway/minos/init/copier.yml
  project/broker/kafka/init/copier.yml
  project/database/postgres/init/copier.yml
  project/database/redis/init/copier.yml
  project/discovery/minos/init/copier.yml
  project/init/copier.yml
Labels: enhancement

#8 #6 - Add volume templates
  project/broker/kafka/deploy/docker-compose/_utils.py
  project/broker/kafka/deploy/kubernetes/external/kafka/Makefile.jinja
  project/broker/kafka/deploy/kubernetes/external/kafka/deploy/configmap.yaml.jinja
  project/broker/kafka/deploy/kubernetes/external/kafka/deploy/deployment.yaml.jinja
  project/broker/kafka/deploy/kubernetes/external/kafka/deploy/persistentvolumeclaim.yaml.jinja
  project/broker/kafka/deploy/kubernetes/external/zookeeper/Makefile.jinja
  project/broker/kafka/deploy/kubernetes/external/zookeeper/deploy/deployment.yaml.jinja
  project/broker/kafka/deploy/kubernetes/external/zookeeper/deploy/persistentvolumeclaim.yaml.jinja
  project/database/postgres/deploy/docker-compose/_utils.py
  project/database/postgres/deploy/kubernetes/external/postgres/Makefile.jinja
  project/database/postgres/deploy/kubernetes/external/postgres/deploy/deployment.yaml.jinja
  project/database/postgres/deploy/kubernetes/external/postgres/deploy/persistentvolumeclaim.yaml.jinja
  project/database/redis/deploy/docker-compose/_utils.py
  project/database/redis/deploy/kubernetes/external/redis/Makefile.jinja
  project/database/redis/deploy/kubernetes/external/redis/deploy/deployment.yaml.jinja
  project/database/redis/deploy/kubernetes/external/redis/deploy/persistentvolumeclaim.yaml.jinja
Labels: deployment

#18 #16 - Deleted deployment questions.
  project/init/copier.yml
Labels: enhancement, project
